@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #e9e9e9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  padding-top: 6vh;
  overflow-y: scroll;
  padding-top: px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.home-wrapper {
  /* margin: 30px; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  overflow: auto;
}

.home-inner {
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  /* transition: all 0.3s; */
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;

  /* transition: all 0.3s; */
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password a {
  color: #167bff;
}

.board-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  min-width: 305px;
  min-height: 324px;
  margin: 3vh;
  background: #ffffff;
  border-radius: 25px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.accent-color {
  /* position: absolute; */
  width: 30px;
  height: 5px;
  /* left: 0px;
top: 49px; */

  background: #81bc06;
}
