.Signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: #f7f7f7;
}
  
.Signup-card {
      min-width: 345px;
      max-width: 445px;
}

.Info-text {
        margin-top: 30px;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #9c9c9c;
      }
  
.form {
        margin: 0 auto;
        max-width: 320px;
        border-radius: 6px;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 55px;
        max-width: 100%;
}

  .form-label {
    font-size: 14px;
    font-weight: 600;
    color: #231f20;
  }
  .form-control{
    margin:10px; 
  }
  
